//warna 
$warna-hijau-muda: #7ed56f;
$warna-hijau-medium: #55c57a;
$warna-hijau-tua: #28b485;

$warna-orange-muda: #ffb900;
$warna-orange-tua: #ff7730;
$warna-biru-muda: #2998FF;
$warna-biru-tua: #5643fa;

$warna-text: #777;
$warna-putih:#fff;
$warna-hitam: #000;